@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
body {color: #666;}
html {display: block; max-width: 100%;}
a {color: #666; text-decoration: none;}
img {display: block; max-width: 100%;}
a:hover {color: #004f8a; text-decoration: underline;}


#layout {width: 1000px; margin: auto;}

header {display: flex; align-items: center;}
#logo {}
nav {flex: 1; display: flex; margin-left: 150px;}
nav a {flex: 1; padding: 10px; font-weight: bold; text-align: center;}
nav a:hover {background: #004f8a; color: white; font-weight: bold; text-decoration: none;}

#banner {margin-top: 50px;}
#banner h1 {display: none;}

main {padding-top: 50px; display: flex;}

#notice {flex: 1.3;}
#notice h2 {border-bottom: 3px solid #d1d1d1; margin-bottom: 20px; padding-bottom: 5px;}
#notice ol {list-style: none; line-height: 180%;}
#notice span {float: right;}

#partner {flex: 1; margin: 0 30px;}
#partner h2 {border-bottom: 3px solid #d1d1d1; margin-bottom: 20px; padding-bottom: 5px;}
#partner .content {display: flex; margin-top: 30px; align-items: center;}
#partner .content h3 {flex: 1; width: 140px; height: 140px; background: #888; border-radius: 50%; text-align: center; font-size: 1.15rem; color: white; padding-top: 45px; letter-spacing: -1.3pt;}
#partner ul {list-style-position: inside; margin-left: 20px;}

#icon {padding-top: 30px;}
#icon h3 {display: none;}
#icon img {margin-bottom: 10px; display: block; transition: 0.5s;}
#icon img:hover {translate: 10px;}

footer {background: #eee; display: flex; align-items: center; padding: 20px 50px; margin-top: 20px;}
footer p {flex: 1; margin-left: 20px; line-height: 180%;}
footer p:first-child {flex: 0.8;}
footer p:last-child {flex: 0.9;}
footer a {display: block;}
